# Git
.git
.gitignore

# Environment
env
venv
.env
.venv

# JetBrains
.idea

# Visual Studio Code
.vscode

# Ansible
ansible

# Docker
Dockerfile

# Vagrant
Vagrantfile

# Documentation
README.md

# Python
**/__pycache__
**/.pytest_cache

# Node
node_modules

# Terraform
**/.terraform
