# Flask server configuration
FLASK_APP=todo_app/app
FLASK_DEBUG=True

# Trello configuration - change these values for local development
TRELLO_KEY=trello-key
TRELLO_TOKEN=trello-token
TRELLO_BOARD_ID=trello-board-id

# Docker configuration - change this value to be able to push images to Docker Hub
DOCKERHUB_USERNAME=dockerhub-username
