{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron bg-dark shadow text-center">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  {% if view_model.items is not none %}
    <div class="row">
      <div class="col-md-12">
        <form class="mb-4" method="post" action="{{ url_for('create_item') }}">
          <label class="h5" for="title-input">What do you have to do?</label>
          <div class="input-group shadow">
            <input class="form-control bg-light px-3" type="text" id="title-input" name="title" required>
            <div class="input-group-append">
              <button class="btn btn-primary">Add to list</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    {% if view_model.items|length > 0 %}
      {% for status in view_model.item_status_data %}
        {% if view_model.get_items_with_status(status)|length > 0 %}
          <div class="row my-4">
            <div class="col-md-12">
              <h2>{{ status }} Items</h2>
              <ul class="list-group shadow">
                {% for item in view_model.get_items_with_status(status) %}
                  {% set theme = view_model.item_status_data[status].theme %}
                  <li class="list-group-item bg-light text-dark px-3">
                    <form class="d-flex justify-content-between align-items-sm-center align-items-start"
                          method="post" action="{{ url_for('update_item', item_id=item.id) }}">
                      <div class="d-inline-flex flex-sm-row flex-column align-items-sm-center align-items-start">
                        <button type="button" class="close text-{{ theme }} mr-3 mb-1" aria-label="Edit"
                                data-toggle="modal" data-target="#modal-update-{{ item.id }}">
                          <span class="align-baseline" aria-hidden="true"><i class="bi bi-pencil-fill small"></i></span>
                        </button>
                        <div class="text-break">{{ item.title }}<br><small>{{ item.description }}</small></div>
                      </div>
                      <div class="d-inline-flex flex-sm-row flex-column-reverse align-items-sm-center align-items-end">
                        <div class="btn-group text-nowrap ml-3 my-1">
                          <strong class="btn btn-sm btn-outline-{{ theme }} disabled" style="width: 6rem; opacity: 1;">
                            {{ status }}
                          </strong>
                          <button type="button" class="btn btn-sm btn-{{ theme }} dropdown-toggle dropdown-toggle-split"
                                  data-toggle="dropdown" data-display="static" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu border-{{ theme }} w-100 py-1" style="min-width: unset;">
                            {% for item_status in view_model.item_status_data %}
                              <input type="submit" class="dropdown-item small text-right pl-3"
                                     name="status" value="{{ item_status }}" {{ 'disabled' if item_status == status }}>
                            {% endfor %}
                            <span role="presentation" class="position-absolute w-100 h-25"></span>
                          </div>
                        </div>
                        <button type="button" class="close text-{{ theme }} ml-3 mb-1" aria-label="Delete"
                                data-toggle="modal" data-target="#modal-delete-{{ item.id }}">
                          <span class="align-baseline" aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </form>
                    <div class="modal fade" id="modal-update-{{ item.id }}" tabindex="-1" aria-hidden="true">
                      <div class="modal-dialog">
                        <form class="modal-content" method="post" action="{{ url_for('update_item', item_id=item.id) }}">
                          <div class="modal-header">
                            <h5 class="modal-title">Update item</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <label for="title-{{ item.id }}">Title</label>
                              <input type="text" class="form-control"
                                     id="title-{{ item.id }}" name="title" value="{{ item.title }}" required>
                            </div>
                            <div class="form-group">
                              <label for="description-{{ item.id }}">Description</label>
                              <textarea class="form-control"
                                        id="description-{{ item.id }}" name="description">{{ item.description }}</textarea>
                            </div>
                            <p class="mb-0">Are you sure you want to apply these changes?</p>
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Yes, update</button>
                            <button type="button" class="btn btn-secondary ml-1" data-dismiss="modal">No, cancel</button>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="modal fade" id="modal-delete-{{ item.id }}" tabindex="-1" aria-hidden="true">
                      <div class="modal-dialog">
                        <form class="modal-content" method="post" action="{{ url_for('delete_item', item_id=item.id) }}">
                          <div class="modal-header">
                            <h5 class="modal-title">Confirm deletion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p class="list-group-item bg-light rounded">{{ item.title }}</p>
                            <p class="mb-0">Are you sure you want to delete this task?</p>
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">Yes, delete</button>
                            <button type="button" class="btn btn-secondary ml-1" data-dismiss="modal">No, cancel</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <div class="my-4">
        <h2>Items</h2>
        <p class="lead">No items yet.</p>
      </div>
    {% endif %}
  {% else %}
    <p class="lead text-center">Unable to retrieve items. Please try again later.</p>
  {% endif %}
{% endblock %}
